*.versionsBackup
*.classpath
*.project
*.factorypath
/daijie-core/bin/
/daijie-core/target/
/daijie-core/.settings/
/daijie-core/.apt_generated/
/daijie-fastdfs/target/
/daijie-fastdfs/.settings/
/daijie-fastdfs/.apt_generated/
/daijie-hadoop/target/
/daijie-hadoop/.settings/
/daijie-hadoop/.apt_generated/
/daijie-jdbc/target/
/daijie-jdbc/.settings/
/daijie-jdbc/.apt_generated/
/daijie-jdbc-plugin/target/
/daijie-jdbc-plugin/.settings/
/daijie-jdbc-plugin/.apt_generated/
/daijie-shiro/target/
/daijie-shiro/.settings/
/daijie-shiro/.apt_generated/
/daijie-shiro-oauth2/target/
/daijie-shiro-oauth2/.settings/
/daijie-shiro-oauth2/.apt_generated/
/daijie-shiro-security/target/
/daijie-shiro-security/.settings/
/daijie-shiro-security/.apt_generated/
/daijie-social/target/
/daijie-social/.settings/
/daijie-social/.apt_generated/
/daijie-workflow/target/
/daijie-workflow/.settings/
/daijie-workflow/.apt_generated/
