<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.daijie.api.mapper.UserAddrChangeLogMapper">
  <resultMap id="BaseResultMap" type="org.daijie.api.model.UserAddrChangeLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="change" jdbcType="VARCHAR" property="change" />
    <result column="user_delivery_addr_id" jdbcType="INTEGER" property="userDeliveryAddrId" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operator_time" jdbcType="TIMESTAMP" property="operatorTime" />
    <result column="self" jdbcType="BIT" property="self" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, change, user_delivery_addr_id, operator_id, operator, operator_time, self
  </sql>
</mapper>