<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.daijie.api.mapper.UserVerifyMapper">
  <resultMap id="BaseResultMap" type="org.daijie.api.model.UserVerify">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="idcard_validate" jdbcType="BIT" property="idcardValidate" />
    <result column="email_validate" jdbcType="BIT" property="emailValidate" />
    <result column="mobile_validate" jdbcType="BIT" property="mobileValidate" />
    <result column="is_financial_advisor" jdbcType="BIT" property="isFinancialAdvisor" />
    <result column="is_credit_advisor" jdbcType="BIT" property="isCreditAdvisor" />
    <result column="is_guarantee" jdbcType="BIT" property="isGuarantee" />
    <result column="pay_password" jdbcType="VARCHAR" property="payPassword" />
    <result column="sign_password" jdbcType="VARCHAR" property="signPassword" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, user_id, idcard_validate, email_validate, mobile_validate, is_financial_advisor, 
    is_credit_advisor, is_guarantee, pay_password, sign_password
  </sql>
</mapper>