<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.daijie.api.mapper.UserFeedbackRecordMapper">
  <resultMap id="BaseResultMap" type="org.daijie.api.model.UserFeedbackRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="feedback_id" jdbcType="VARCHAR" property="feedbackId" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, create_time, user_id, operation, feedback_id, enabled, version, update_time
  </sql>
</mapper>