<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.daijie.api.mapper.UserFeedbackMapper">
  <resultMap id="BaseResultMap" type="org.daijie.api.model.UserFeedback">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="revisit" jdbcType="VARCHAR" property="revisit" />
    <result column="programme" jdbcType="VARCHAR" property="programme" />
    <result column="labels" jdbcType="VARCHAR" property="labels" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="device_type" jdbcType="VARCHAR" property="deviceType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, create_time, update_time, content, mobile, status, user_id, revisit, programme, 
    labels, enabled, version, pic, device_type
  </sql>
</mapper>