<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.daijie.api.mapper.UserAddrAreaMapper">
  <resultMap id="BaseResultMap" type="org.daijie.api.model.UserAddrArea">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="parentId" jdbcType="VARCHAR" property="parentid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="level" jdbcType="BIT" property="level" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, code, parentId, name, level
  </sql>
</mapper>