<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.daijie.mybatis.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="org.daijie.mybatis.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="passwd" jdbcType="VARCHAR" property="passwd" />
    <result column="login_key" jdbcType="VARCHAR" property="loginKey" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="enable" jdbcType="BIT" property="enable" />
    <result column="defriend" jdbcType="BIT" property="defriend" />
    <result column="fictitious" jdbcType="BIT" property="fictitious" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="reg_time" jdbcType="TIMESTAMP" property="regTime" />
    <result column="registe_ip" jdbcType="VARCHAR" property="registeIp" />
    <result column="registe_device_type" jdbcType="VARCHAR" property="registeDeviceType" />
    <result column="registe_user_agent" jdbcType="VARCHAR" property="registeUserAgent" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, email, mobile, nick_name, password, passwd, login_key, user_type, enable, defriend, 
    fictitious, status, reg_time, registe_ip, registe_device_type, registe_user_agent, 
    channel
  </sql>
</mapper>